<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abtk.product.dao.mapper.StorageMapper">

	<resultMap type="com.abtk.product.dao.entity.Storage" id="StorageResult">
		<id     property="id"                  column="id" />
		<result property="storageCode"        column="storage_code" />
		<result property="storageName"        column="storage_name" />
		<result property="warehouseId"        column="warehouse_id" />
		<result property="locationId"         column="location_id" />
		<result property="storageType"       column="storage_type" />
		<result property="capacity"           column="capacity" />
		<result property="isEnabled"          column="is_enabled" />
		<result property="remark"              column="remark" />
		<result property="createBy"            column="create_by" />
		<result property="createTime"         column="create_time" />
		<result property="updateBy"           column="update_by" />
		<result property="updateTime"         column="update_time" />
		<result property="isdeleted"          column="isdeleted" />
	</resultMap>

	<sql id="selectStorageVo">
        SELECT id, storage_code, storage_name, warehouse_id, location_id,
               storage_type, capacity, is_enabled, remark,
               create_by, create_time, update_by, update_time
		FROM sys_storage
		WHERE isdeleted = 0
    </sql>

	<select id="selectById" parameterType="Long" resultMap="StorageResult">
		<include refid="selectStorageVo"/>
		AND id = #{id}
	</select>

	<select id="selectList" parameterType="com.abtk.product.dao.entity.Storage" resultMap="StorageResult">
		<include refid="selectStorageVo"/>
		<if test="storageCode != null and storageCode != ''">
			AND storage_code LIKE CONCAT('%', #{storageCode}, '%')
		</if>
		<if test="storageName != null and storageName != ''">
			AND storage_name LIKE CONCAT('%', #{storageName}, '%')
		</if>
		<if test="warehouseId != null">
			AND warehouse_id = #{warehouseId}
		</if>
		<if test="locationId != null">
			AND location_id = #{locationId}
		</if>
		<if test="storageType != null and storageType != ''">
			AND storage_type = #{storageType}
		</if>
		<if test="isEnabled != null">
			AND is_enabled = #{isEnabled}
		</if>
		ORDER BY create_time DESC
	</select>

	<select id="selectAll" parameterType="com.abtk.product.dao.entity.Storage" resultMap="StorageResult">
		<include refid="selectStorageVo"/>
		<if test="storageCode != null and storageCode != ''">
			AND storage_code LIKE CONCAT('%', #{storageCode}, '%')
		</if>
		<if test="storageName != null and storageName != ''">
			AND storage_name LIKE CONCAT('%', #{storageName}, '%')
		</if>
		<if test="warehouseId != null">
			AND warehouse_id = #{warehouseId}
		</if>
		<if test="storageType != null and storageType != ''">
			AND storage_type = #{storageType}
		</if>
		<if test="isEnabled != null">
			AND is_enabled = #{isEnabled}
		</if>
		ORDER BY create_time DESC
	</select>

	<insert id="insert" parameterType="com.abtk.product.dao.entity.Storage" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO sys_storage(
			storage_code,
			storage_name,
			warehouse_id,
			location_id,
			storage_type,
			capacity,
			is_enabled,
			remark,
			create_by,
			create_time
		) VALUES (
			#{storageCode},
			#{storageName},
			#{warehouseId},
			#{locationId},
			#{storageType},
			#{capacity},
			#{isEnabled},
			#{remark},
			#{createBy},
			NOW()
		)
	</insert>

	<update id="update" parameterType="com.abtk.product.dao.entity.Storage">
		UPDATE sys_storage
		<set>
			<if test="storageCode != null and storageCode != ''">storage_code = #{storageCode},</if>
			<if test="storageName != null and storageName != ''">storage_name = #{storageName},</if>
			<if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
			<if test="locationId != null">location_id = #{locationId},</if>
			<if test="storageType != null">storage_type = #{storageType},</if>
			<if test="capacity != null">capacity = #{capacity},</if>
			<if test="isEnabled != null">is_enabled = #{isEnabled},</if>
			<if test="remark != null">remark = #{remark},</if>
			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
			update_time = NOW()
		</set>
		WHERE id = #{id}
		AND isdeleted = 0
	</update>

	<update id="deleteById" parameterType="Long">
		UPDATE sys_storage
		SET isdeleted = 1,
		    update_time = NOW()
		WHERE id = #{id}
		AND isdeleted = 0
	</update>

	<update id="updateStatus">
		UPDATE sys_storage
		SET is_enabled = #{isEnabled},
		    update_time = NOW()
		WHERE id = #{id}
		AND isdeleted = 0
	</update>

	<select id="checkStorageCodeExists" resultType="int">
		SELECT COUNT(1)
		FROM sys_storage
		WHERE storage_code = #{storageCode}
		AND isdeleted = 0
		<if test="excludeId != null">
			AND id != #{excludeId}
		</if>
	</select>

</mapper>
