<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abtk.product.dao.mapper.SysEnumDefineCustomMapper">

    <!-- 插入枚举定义 -->
    <insert id="insertEnumDefine" parameterType="com.abtk.product.dao.entity.SysEnumDefine" keyProperty="id" useGeneratedKeys="true">
        insert into sys_enum_define(enum_code, enum_name, enum_desc, category_code, category_name, is_enabled, sort_order, create_by, create_time, update_by, update_time, remark)
        values (
            #{enumCode},
            #{enumName},
            #{enumDesc},
            #{categoryCode},
            #{categoryName},
            #{isEnabled},
            #{sortOrder},
            #{createBy},
            #{createTime},
            #{updateBy},
            #{updateTime},
            #{remark}
        )
    </insert>

    <!-- 批量插入枚举明细 -->
    <insert id="batchInsertEnumItems" parameterType="java.util.List">
        insert into sys_enum_item(enum_code, item_key, item_value, item_desc, sort_order, is_default, is_enabled, create_by, create_time, update_by, update_time, remark)
        values
        <foreach collection="list" item="item" separator=",">
            (
                #{item.enumCode},
                #{item.itemKey},
                #{item.itemValue},
                #{item.itemDesc},
                #{item.sortOrder},
                #{item.isDefault},
                #{item.isEnabled},
                #{item.createBy},
                #{item.createTime},
                #{item.updateBy},
                #{item.updateTime},
                #{item.remark}
            )
        </foreach>
    </insert>

</mapper>
