<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abclonal.product.dao.mapper.SysEnumItemMapper">

    <resultMap type="com.abclonal.product.dao.entity.SysEnumItem" id="SysEnumItemMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="enumCode" column="enum_code" jdbcType="VARCHAR"/>
        <result property="itemKey" column="item_key" jdbcType="VARCHAR"/>
        <result property="itemValue" column="item_value" jdbcType="VARCHAR"/>
        <result property="itemDesc" column="item_desc" jdbcType="VARCHAR"/>
        <result property="sortOrder" column="sort_order" jdbcType="INTEGER"/>
        <result property="isDefault" column="is_default" jdbcType="INTEGER"/>
        <result property="isEnabled" column="is_enabled" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="SysEnumItemMap">
        select
id, enum_code, item_key, item_value, item_desc, sort_order, is_default, is_enabled, create_by, create_time, update_by, update_time, remark
        from sys_enum_item
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAll" resultMap="SysEnumItemMap">
        select
id, enum_code, item_key, item_value, item_desc, sort_order, is_default, is_enabled, create_by, create_time, update_by, update_time, remark
        from sys_enum_item
        <where>
                <if test="id != null">
                    and id = #{id}
                </if>
                <if test="enumCode != null and enumCode != ''">
                    and enum_code = #{enumCode}
                </if>
                <if test="itemKey != null and itemKey != ''">
                    and item_key = #{itemKey}
                </if>
                <if test="itemValue != null and itemValue != ''">
                    and item_value = #{itemValue}
                </if>
                <if test="itemDesc != null and itemDesc != ''">
                    and item_desc = #{itemDesc}
                </if>
                <if test="sortOrder != null">
                    and sort_order = #{sortOrder}
                </if>
                <if test="isDefault != null">
                    and is_default = #{isDefault}
                </if>
                <if test="isEnabled != null">
                    and is_enabled = #{isEnabled}
                </if>
                <if test="createBy != null and createBy != ''">
                    and create_by = #{createBy}
                </if>
                <if test="createTime != null">
                    and create_time = #{createTime}
                </if>
                <if test="updateBy != null and updateBy != ''">
                    and update_by = #{updateBy}
                </if>
                <if test="updateTime != null">
                    and update_time = #{updateTime}
                </if>
                <if test="remark != null and remark != ''">
                    and remark = #{remark}
                </if>
        </where>
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from sys_enum_item
        <where>
                <if test="id != null">
                    and id = #{id}
                </if>
                <if test="enumCode != null and enumCode != ''">
                    and enum_code = #{enumCode}
                </if>
                <if test="itemKey != null and itemKey != ''">
                    and item_key = #{itemKey}
                </if>
                <if test="itemValue != null and itemValue != ''">
                    and item_value = #{itemValue}
                </if>
                <if test="itemDesc != null and itemDesc != ''">
                    and item_desc = #{itemDesc}
                </if>
                <if test="sortOrder != null">
                    and sort_order = #{sortOrder}
                </if>
                <if test="isDefault != null">
                    and is_default = #{isDefault}
                </if>
                <if test="isEnabled != null">
                    and is_enabled = #{isEnabled}
                </if>
                <if test="createBy != null and createBy != ''">
                    and create_by = #{createBy}
                </if>
                <if test="createTime != null">
                    and create_time = #{createTime}
                </if>
                <if test="updateBy != null and updateBy != ''">
                    and update_by = #{updateBy}
                </if>
                <if test="updateTime != null">
                    and update_time = #{updateTime}
                </if>
                <if test="remark != null and remark != ''">
                    and remark = #{remark}
                </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into sys_enum_item(enum_code, item_key, item_value, item_desc, sort_order, is_default, is_enabled, create_by, create_time, update_by, update_time, remark)
        values (       
        #{enumCode}
,        
        #{itemKey}
,        
        #{itemValue}
,        
        #{itemDesc}
,        
        #{sortOrder}
,        
        #{isDefault}
,        
        #{isEnabled}
,        
        #{createBy}
,        
        #{createTime}
,        
        #{updateBy}
,        
        #{updateTime}
,        
        #{remark}
)
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sys_enum_item(enum_code, item_key, item_value, item_desc, sort_order, is_default, is_enabled, create_by, create_time, update_by, update_time, remark)
        values
        <foreach collection="entities" item="entity" separator=",">
        (            #{entity.enumCode}
,
            #{entity.itemKey}
,
            #{entity.itemValue}
,
            #{entity.itemDesc}
,
            #{entity.sortOrder}
,
            #{entity.isDefault}
,
            #{entity.isEnabled}
,
            #{entity.createBy}
,
            #{entity.createTime}
,
            #{entity.updateBy}
,
            #{entity.updateTime}
,
            #{entity.remark}
)
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sys_enum_item(enum_code, item_key, item_value, item_desc, sort_order, is_default, is_enabled, create_by, create_time, update_by, update_time, remark)
        values
        <foreach collection="entities" item="entity" separator=",">
            (            #{entity.enumCode}
,             #{entity.itemKey}
,             #{entity.itemValue}
,             #{entity.itemDesc}
,             #{entity.sortOrder}
,             #{entity.isDefault}
,             #{entity.isEnabled}
,             #{entity.createBy}
,             #{entity.createTime}
,             #{entity.updateBy}
,             #{entity.updateTime}
,             #{entity.remark}
)
        </foreach>
        on duplicate key update
enum_code = values(enum_code),
item_key = values(item_key),
item_value = values(item_value),
item_desc = values(item_desc),
sort_order = values(sort_order),
is_default = values(is_default),
is_enabled = values(is_enabled),
create_by = values(create_by),
create_time = values(create_time),
update_by = values(update_by),
update_time = values(update_time),
remark = values(remark)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update sys_enum_item
        <set>
            <if test="enumCode != null and enumCode != ''">
                enum_code = #{enumCode},
            </if>
            <if test="itemKey != null and itemKey != ''">
                item_key = #{itemKey},
            </if>
            <if test="itemValue != null and itemValue != ''">
                item_value = #{itemValue},
            </if>
            <if test="itemDesc != null and itemDesc != ''">
                item_desc = #{itemDesc},
            </if>
            <if test="sortOrder != null">
                sort_order = #{sortOrder},
            </if>
            <if test="isDefault != null">
                is_default = #{isDefault},
            </if>
            <if test="isEnabled != null">
                is_enabled = #{isEnabled},
            </if>
            <if test="createBy != null and createBy != ''">
                create_by = #{createBy},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        update  sys_enum_item  set is_deleted = '1',update_by=#{username}, update_time = now(),remark = CONCAT(remark, '|', #{username}, '删除', NOW()) where id = #{id}
    </delete>


    <delete id="deleteBatchByIds">
        update sys_enum_item
        set is_deleted = '1',update_by=#{username}, update_time = now(),remark = CONCAT(remark, '|', #{username}, '删除', NOW())
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
<!-- 批量修改数据（通过主键）-->
<update id="updateBatch" parameterType="java.util.List">
    <foreach collection="list" item="item" index="index" separator=";">
        update sys_enum_item
        <set>
            <if test="item.enumCode != null and item.enumCode != ''">
                enum_code = #{item.enumCode},
            </if>
            <if test="item.itemKey != null and item.itemKey != ''">
                item_key = #{item.itemKey},
            </if>
            <if test="item.itemValue != null and item.itemValue != ''">
                item_value = #{item.itemValue},
            </if>
            <if test="item.itemDesc != null and item.itemDesc != ''">
                item_desc = #{item.itemDesc},
            </if>
            <if test="item.sortOrder != null">
                sort_order = #{item.sortOrder},
            </if>
            <if test="item.isDefault != null">
                is_default = #{item.isDefault},
            </if>
            <if test="item.isEnabled != null">
                is_enabled = #{item.isEnabled},
            </if>
            <if test="item.createBy != null and item.createBy != ''">
                create_by = #{item.createBy},
            </if>
            <if test="item.createTime != null">
                create_time = #{item.createTime},
            </if>
            <if test="item.updateBy != null and item.updateBy != ''">
                update_by = #{item.updateBy},
            </if>
            <if test="item.updateTime != null">
                update_time = #{item.updateTime},
            </if>
            <if test="item.remark != null and item.remark != ''">
                remark = #{item.remark},
            </if>
        </set>
        where id = #{item.id}
    </foreach>
</update>

</mapper>

