<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abtk.product.dao.mapper.SysSerialNumberMapper">

    <resultMap type="com.abtk.product.dao.entity.SysSerialNumber" id="SysSerialNumberMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="prefix" column="prefix" jdbcType="VARCHAR"/>
        <result property="numberType" column="number_type" jdbcType="TINYINT"/>
        <result property="digitLength" column="digit_length" jdbcType="INTEGER"/>
        <result property="suffix" column="suffix" jdbcType="VARCHAR"/>
        <result property="startValue" column="start_value" jdbcType="BIGINT"/>
        <result property="resetRule" column="reset_rule" jdbcType="VARCHAR"/>
        <result property="currentValue" column="current_value" jdbcType="BIGINT"/>
        <result property="lastResetKey" column="last_reset_key" jdbcType="VARCHAR"/>
        <result property="isEnabled" column="is_enabled" jdbcType="TINYINT"/>
        <result property="applyFormField" column="apply_form_field" jdbcType="VARCHAR"/>
        <result property="usageScope" column="usage_scope" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
        <result property="isDeleted" column="is_deleted" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="SysSerialNumberMap">
        select
        id, name, prefix, number_type, digit_length, suffix, start_value, reset_rule, current_value, last_reset_key, is_enabled, apply_form_field, usage_scope, create_by, create_time, update_by, update_time, remarks, is_deleted
        from sys_serial_number
        where id = #{id} and is_deleted = '0'
    </select>

    <!--查询指定行数据-->
    <select id="queryAll" resultMap="SysSerialNumberMap">
        select
        id, name, prefix, number_type, digit_length, suffix, start_value, reset_rule, current_value, last_reset_key, is_enabled, apply_form_field, usage_scope, create_by, create_time, update_by, update_time, remarks, is_deleted
        from sys_serial_number
        <where>
            is_deleted = '0'
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="prefix != null and prefix != ''">
                and prefix = #{prefix}
            </if>
            <if test="numberType != null">
                and number_type = #{numberType}
            </if>
            <if test="digitLength != null">
                and digit_length = #{digitLength}
            </if>
            <if test="suffix != null and suffix != ''">
                and suffix = #{suffix}
            </if>
            <if test="startValue != null">
                and start_value = #{startValue}
            </if>
            <if test="resetRule != null and resetRule != ''">
                and reset_rule = #{resetRule}
            </if>
            <if test="currentValue != null">
                and current_value = #{currentValue}
            </if>
            <if test="lastResetKey != null and lastResetKey != ''">
                and last_reset_key = #{lastResetKey}
            </if>
            <if test="isEnabled != null">
                and is_enabled = #{isEnabled}
            </if>
            <if test="applyFormField != null and applyFormField != ''">
                and apply_form_field = #{applyFormField}
            </if>
            <if test="usageScope != null and usageScope != ''">
                and usage_scope = #{usageScope}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="remarks != null and remarks != ''">
                and remarks = #{remarks}
            </if>
        </where>
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from sys_serial_number
        <where>
            is_deleted = '0'
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="prefix != null and prefix != ''">
                and prefix = #{prefix}
            </if>
            <if test="numberType != null">
                and number_type = #{numberType}
            </if>
            <if test="digitLength != null">
                and digit_length = #{digitLength}
            </if>
            <if test="suffix != null and suffix != ''">
                and suffix = #{suffix}
            </if>
            <if test="startValue != null">
                and start_value = #{startValue}
            </if>
            <if test="resetRule != null and resetRule != ''">
                and reset_rule = #{resetRule}
            </if>
            <if test="currentValue != null">
                and current_value = #{currentValue}
            </if>
            <if test="lastResetKey != null and lastResetKey != ''">
                and last_reset_key = #{lastResetKey}
            </if>
            <if test="isEnabled != null">
                and is_enabled = #{isEnabled}
            </if>
            <if test="usageScope != null and usageScope != ''">
                and usage_scope = #{usageScope}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="remarks != null and remarks != ''">
                and remarks = #{remarks}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into sys_serial_number(name, prefix, number_type, digit_length, suffix, start_value, reset_rule, current_value, last_reset_key, is_enabled, apply_form_field, usage_scope, create_by, create_time, update_by, update_time, remarks)
        values (
        #{name}
        ,
        #{prefix}
        ,
        #{numberType}
        ,
        #{digitLength}
        ,
        #{suffix}
        ,
        #{startValue}
        ,
        #{resetRule}
        ,
        #{currentValue}
        ,
        #{lastResetKey}
        ,
        #{isEnabled}
        ,
        #{applyFormField}
        ,
        #{usageScope}
        ,
        #{createBy}
        ,
        #{createTime}
        ,
        #{updateBy}
        ,
        #{updateTime}
        ,
        #{remarks}
        )
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sys_serial_number(name, prefix, number_type, digit_length, suffix, start_value, reset_rule, current_value, last_reset_key, is_enabled, apply_form_field, usage_scope, create_by, create_time, update_by, update_time, remarks)
        values
        <foreach collection="entities" item="entity" separator=",">
            (
            #{entity.name}
            ,
            #{entity.prefix}
            ,
            #{entity.numberType}
            ,
            #{entity.digitLength}
            ,
            #{entity.suffix}
            ,
            #{entity.startValue}
            ,
            #{entity.resetRule}
            ,
            #{entity.currentValue}
            ,
            #{entity.lastResetKey}
            ,
            #{entity.isEnabled}
            ,
            #{entity.applyFormField}
            ,
            #{entity.usageScope}
            ,
            #{entity.createBy}
            ,
            #{entity.createTime}
            ,
            #{entity.updateBy}
            ,
            #{entity.updateTime}
            ,
            #{entity.remarks}
            )
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sys_serial_number(name, prefix, number_type, digit_length, suffix, start_value, reset_rule, current_value, last_reset_key, is_enabled, apply_form_field, usage_scope, create_by, create_time, update_by, update_time, remarks)
        values
        <foreach collection="entities" item="entity" separator=",">
            (
            #{entity.name}
            ,
            #{entity.prefix}
            ,
            #{entity.numberType}
            ,
            #{entity.digitLength}
            ,
            #{entity.suffix}
            ,
            #{entity.startValue}
            ,
            #{entity.resetRule}
            ,
            #{entity.currentValue}
            ,
            #{entity.lastResetKey}
            ,
            #{entity.isEnabled}
            ,
            #{entity.applyFormField}
            ,
            #{entity.usageScope}
            ,
            #{entity.createBy}
            ,
            #{entity.createTime}
            ,
            #{entity.updateBy}
            ,
            #{entity.updateTime}
            ,
            #{entity.remarks}
            )
        </foreach>
        on duplicate key update
        name = values(name),
        prefix = values(prefix),
        number_type = values(number_type),
        digit_length = values(digit_length),
        suffix = values(suffix),
        start_value = values(start_value),
        reset_rule = values(reset_rule),
        current_value = values(current_value),
        last_reset_key = values(last_reset_key),
        is_enabled = values(is_enabled),
        apply_form_field = values(apply_form_field),
        usage_scope = values(usage_scope),
        create_by = values(create_by),
        create_time = values(create_time),
        update_by = values(update_by),
        update_time = values(update_time),
        remarks = values(remarks)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update sys_serial_number
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="prefix != null and prefix != ''">
                prefix = #{prefix},
            </if>
            <if test="numberType != null">
                number_type = #{numberType},
            </if>
            <if test="digitLength != null">
                digit_length = #{digitLength},
            </if>
            <if test="suffix != null and suffix != ''">
                suffix = #{suffix},
            </if>
            <if test="startValue != null">
                start_value = #{startValue},
            </if>
            <if test="resetRule != null and resetRule != ''">
                reset_rule = #{resetRule},
            </if>
            <if test="currentValue != null">
                current_value = #{currentValue},
            </if>
            <if test="lastResetKey != null">
                last_reset_key = #{lastResetKey},
            </if>
            <if test="isEnabled != null">
                is_enabled = #{isEnabled},
            </if>
            <if test="applyFormField != null and applyFormField != ''">
                apply_form_field = #{applyFormField},
            </if>
            <if test="usageScope != null and usageScope != ''">
                usage_scope = #{usageScope},
            </if>
            <if test="createBy != null and createBy != ''">
                create_by = #{createBy},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="remarks != null and remarks != ''">
                remarks = #{remarks},
            </if>
            update_time = now(),
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        update sys_serial_number set is_deleted = '1', update_by = #{updateBy}, update_time = now(), remarks = CONCAT(remarks, '|', #{updateBy}, '删除', NOW()) where id = #{id}
    </delete>


    <delete id="deleteBatchByIds">
        update sys_serial_number
        set is_deleted = '1', update_by = #{updateBy}, update_time = now(), remarks = CONCAT(remarks, '|', #{updateBy}, '删除', NOW())
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 批量修改数据（通过主键）-->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            update sys_serial_number
            <set>
                <if test="item.name != null and item.name != ''">
                    name = #{item.name},
                </if>
                <if test="item.prefix != null and item.prefix != ''">
                    prefix = #{item.prefix},
                </if>
                <if test="item.numberType != null">
                    number_type = #{item.numberType},
                </if>
                <if test="item.digitLength != null">
                    digit_length = #{item.digitLength},
                </if>
                <if test="item.suffix != null and item.suffix != ''">
                    suffix = #{item.suffix},
                </if>
                <if test="item.startValue != null">
                    start_value = #{item.startValue},
                </if>
                <if test="item.resetRule != null and item.resetRule != ''">
                    reset_rule = #{item.resetRule},
                </if>
                <if test="item.currentValue != null">
                    current_value = #{item.currentValue},
                </if>
                <if test="item.lastResetKey != null">
                    last_reset_key = #{item.lastResetKey},
                </if>
                <if test="item.isEnabled != null">
                    is_enabled = #{item.isEnabled},
                </if>
                <if test="item.applyFormField != null and item.applyFormField != ''">
                    apply_form_field = #{item.applyFormField},
                </if>
                <if test="item.usageScope != null and item.usageScope != ''">
                    usage_scope = #{item.usageScope},
                </if>
                <if test="item.createBy != null and item.createBy != ''">
                    create_by = #{item.createBy},
                </if>
                <if test="item.createTime != null">
                    create_time = #{item.createTime},
                </if>
                <if test="item.updateBy != null and item.updateBy != ''">
                    update_by = #{item.updateBy},
                </if>
                <if test="item.updateTime != null">
                    update_time = #{item.updateTime},
                </if>
                <if test="item.remarks != null and item.remarks != ''">
                    remarks = #{item.remarks},
                </if>
                update_time = now(),
            </set>
            where id = #{item.id}
        </foreach>
    </update>

</mapper>
