<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abtk.product.dao.mapper.WarehouseMapper">

	<resultMap type="com.abtk.product.dao.entity.Warehouse" id="WarehouseResult">
		<id     property="id"                  column="id" />
		<result property="warehouseType"       column="warehouse_type" />
		<result property="warehouseCode"       column="warehouse_code" />
		<result property="warehouseLocation"   column="warehouse_location" />
		<result property="warehouseName"      column="warehouse_name" />
		<result property="temperatureZone"     column="temperature_zone" />
		<result property="qualityZone"         column="quality_zone" />
		<result property="employeeCode"        column="employee_code" />
		<result property="employeeName"        column="employee_name" />
		<result property="deptCode"            column="dept_code" />
		<result property="deptNameFullPath"    column="dept_name_full_path" />
		<result property="erpCompanyCode"      column="erp_company_code" />
		<result property="erpCompanyName"      column="erp_company_name" />
		<result property="erpWarehouseCode"    column="erp_warehouse_code" />
		<result property="erpLocationCode"     column="erp_location_code" />
		<result property="isEnabled"           column="is_enabled" />
		<result property="remarks"              column="remarks" />
		<result property="createBy"            column="create_by" />
		<result property="createTime"          column="create_time" />
		<result property="updateBy"            column="update_by" />
		<result property="updateTime"          column="update_time" />
		<result property="isDeleted"           column="is_deleted" />
	</resultMap>

	<sql id="selectWarehouseVo">
        SELECT id, warehouse_type, warehouse_code, warehouse_location, warehouse_name,
               temperature_zone, quality_zone, employee_code, employee_name,
               dept_code, dept_name_full_path,
               erp_company_code, erp_company_name, erp_warehouse_code, erp_location_code,
               is_enabled, remarks, create_by, create_time, update_by, update_time
		FROM inv_warehouse
		WHERE is_deleted = 0
    </sql>

	<select id="selectById" parameterType="Long" resultMap="WarehouseResult">
		<include refid="selectWarehouseVo"/>
		AND id = #{id}
	</select>

	<select id="selectList" parameterType="com.abtk.product.dao.entity.Warehouse" resultMap="WarehouseResult">
		<include refid="selectWarehouseVo"/>
		<if test="warehouseCode != null and warehouseCode != ''">
			AND warehouse_code LIKE CONCAT('%', #{warehouseCode}, '%')
		</if>
		<if test="warehouseName != null and warehouseName != ''">
			AND warehouse_name LIKE CONCAT('%', #{warehouseName}, '%')
		</if>
		<if test="warehouseType != null and warehouseType != ''">
			AND warehouse_type = #{warehouseType}
		</if>
		<if test="erpCompanyCode != null and erpCompanyCode != ''">
			AND erp_company_code = #{erpCompanyCode}
		</if>
		<if test="isEnabled != null">
			AND is_enabled = #{isEnabled}
		</if>
		ORDER BY create_time DESC
	</select>

	<insert id="insert" parameterType="com.abtk.product.dao.entity.Warehouse" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO inv_warehouse(
			warehouse_type,
			warehouse_code,
			warehouse_location,
			warehouse_name,
			temperature_zone,
			quality_zone,
			employee_code,
			employee_name,
			dept_code,
			dept_name_full_path,
			erp_company_code,
			erp_company_name,
			erp_warehouse_code,
			erp_location_code,
			is_enabled,
			remarks,
			create_by,
			create_time
		) VALUES (
			#{warehouseType},
			#{warehouseCode},
			#{warehouseLocation},
			#{warehouseName},
			#{temperatureZone},
			#{qualityZone},
			#{employeeCode},
			#{employeeName},
			#{deptCode},
			#{deptNameFullPath},
			#{erpCompanyCode},
			#{erpCompanyName},
			#{erpWarehouseCode},
			#{erpLocationCode},
			#{isEnabled},
			#{remarks},
			#{createBy},
			NOW()
		)
	</insert>

	<update id="update" parameterType="com.abtk.product.dao.entity.Warehouse">
		UPDATE inv_warehouse
		<set>
			<if test="warehouseType != null">warehouse_type = #{warehouseType},</if>
			<if test="warehouseCode != null and warehouseCode != ''">warehouse_code = #{warehouseCode},</if>
			<if test="warehouseLocation != null">warehouse_location = #{warehouseLocation},</if>
			<if test="warehouseName != null and warehouseName != ''">warehouse_name = #{warehouseName},</if>
			<if test="temperatureZone != null">temperature_zone = #{temperatureZone},</if>
			<if test="qualityZone != null">quality_zone = #{qualityZone},</if>
			<if test="employeeCode != null">employee_code = #{employeeCode},</if>
			<if test="employeeName != null">employee_name = #{employeeName},</if>
			<if test="deptCode != null">dept_code = #{deptCode},</if>
			<if test="deptNameFullPath != null">dept_name_full_path = #{deptNameFullPath},</if>
			<if test="erpCompanyCode != null">erp_company_code = #{erpCompanyCode},</if>
			<if test="erpCompanyName != null">erp_company_name = #{erpCompanyName},</if>
			<if test="erpWarehouseCode != null">erp_warehouse_code = #{erpWarehouseCode},</if>
			<if test="erpLocationCode != null">erp_location_code = #{erpLocationCode},</if>
			<if test="isEnabled != null">is_enabled = #{isEnabled},</if>
			<if test="remarks != null">remarks = #{remarks},</if>
			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
			update_time = NOW()
		</set>
		WHERE id = #{id}
		AND is_deleted = 0
	</update>

	<update id="deleteById" parameterType="Long">
		UPDATE inv_warehouse
		SET is_deleted = 1,
		    update_time = NOW()
		WHERE id = #{id}
		AND is_deleted = 0
	</update>

	<update id="updateStatus">
		UPDATE inv_warehouse
		SET is_enabled = #{isEnabled},
		    update_time = NOW()
		WHERE id = #{id}
		AND is_deleted = 0
	</update>

	<select id="checkWarehouseCodeExists" resultType="int">
		SELECT COUNT(1)
		FROM inv_warehouse
		WHERE warehouse_code = #{warehouseCode}
		AND is_deleted = 0
		<if test="excludeId != null">
			AND id != #{excludeId}
		</if>
	</select>

	<select id="selectDistinctCompany" resultType="String">
		SELECT DISTINCT erp_company_name
		FROM inv_warehouse
		WHERE is_deleted = 0
		AND erp_company_name IS NOT NULL
		AND erp_company_name != ''
		ORDER BY erp_company_name
	</select>

</mapper>
