<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abclonal.product.dao.mapper.WarehouseMapper">

	<resultMap type="com.abclonal.product.dao.entity.Warehouse" id="WarehouseResult">
		<id     property="id"                  column="id" />
		<result property="warehouseCode"       column="warehouse_code" />
		<result property="warehouseName"       column="warehouse_name" />
		<result property="temperatureZone"     column="temperature_zone" />
		<result property="qualityZone"         column="quality_zone" />
		<result property="employeeCode"        column="employee_code" />
		<result property="employeeName"        column="employee_name" />
		<result property="deptCode"            column="dept_code" />
		<result property="deptNameFullPath"    column="dept_name_full_path" />
		<result property="company"             column="company" />
		<result property="isEnabled"           column="is_enabled" />
		<result property="remark"              column="remark" />
		<result property="createBy"            column="create_by" />
		<result property="createTime"          column="create_time" />
		<result property="updateBy"            column="update_by" />
		<result property="updateTime"          column="update_time" />
		<result property="isdeleted"           column="isdeleted" />
	</resultMap>

	<sql id="selectWarehouseVo">
        SELECT id, warehouse_code, warehouse_name, temperature_zone, quality_zone,
               employee_code, employee_name, dept_code, dept_name_full_path, company,
               is_enabled, remark, create_by, create_time, update_by, update_time
		FROM sys_warehouse
		WHERE isdeleted = 0
    </sql>

	<select id="selectById" parameterType="Long" resultMap="WarehouseResult">
		<include refid="selectWarehouseVo"/>
		AND id = #{id}
	</select>

	<select id="selectList" parameterType="com.abclonal.product.dao.entity.Warehouse" resultMap="WarehouseResult">
		<include refid="selectWarehouseVo"/>
		<if test="warehouseCode != null and warehouseCode != ''">
			AND warehouse_code LIKE CONCAT('%', #{warehouseCode}, '%')
		</if>
		<if test="warehouseName != null and warehouseName != ''">
			AND warehouse_name LIKE CONCAT('%', #{warehouseName}, '%')
		</if>
		<if test="company != null and company != ''">
			AND company = #{company}
		</if>
		<if test="isEnabled != null">
			AND is_enabled = #{isEnabled}
		</if>
		ORDER BY create_time DESC
	</select>

	<insert id="insert" parameterType="com.abclonal.product.dao.entity.Warehouse" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO sys_warehouse(
			warehouse_code,
			warehouse_name,
			temperature_zone,
			quality_zone,
			employee_code,
			employee_name,
			dept_code,
			dept_name_full_path,
			company,
			is_enabled,
			remark,
			create_by,
			create_time
		) VALUES (
			#{warehouseCode},
			#{warehouseName},
			#{temperatureZone},
			#{qualityZone},
			#{employeeCode},
			#{employeeName},
			#{deptCode},
			#{deptNameFullPath},
			#{company},
			#{isEnabled},
			#{remark},
			#{createBy},
			NOW()
		)
	</insert>

	<update id="update" parameterType="com.abclonal.product.dao.entity.Warehouse">
		UPDATE sys_warehouse
		<set>
			<if test="warehouseCode != null and warehouseCode != ''">warehouse_code = #{warehouseCode},</if>
			<if test="warehouseName != null and warehouseName != ''">warehouse_name = #{warehouseName},</if>
			<if test="temperatureZone != null">temperature_zone = #{temperatureZone},</if>
			<if test="qualityZone != null">quality_zone = #{qualityZone},</if>
			<if test="employeeCode != null">employee_code = #{employeeCode},</if>
			<if test="employeeName != null">employee_name = #{employeeName},</if>
			<if test="deptCode != null">dept_code = #{deptCode},</if>
			<if test="deptNameFullPath != null">dept_name_full_path = #{deptNameFullPath},</if>
			<if test="company != null">company = #{company},</if>
			<if test="isEnabled != null">is_enabled = #{isEnabled},</if>
			<if test="remark != null">remark = #{remark},</if>
			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
			update_time = NOW()
		</set>
		WHERE id = #{id}
		AND isdeleted = 0
	</update>

	<update id="deleteById" parameterType="Long">
		UPDATE sys_warehouse
		SET isdeleted = 1,
		    update_time = NOW()
		WHERE id = #{id}
		AND isdeleted = 0
	</update>

	<update id="updateStatus">
		UPDATE sys_warehouse
		SET is_enabled = #{isEnabled},
		    update_time = NOW()
		WHERE id = #{id}
		AND isdeleted = 0
	</update>

	<select id="checkWarehouseCodeExists" resultType="int">
		SELECT COUNT(1)
		FROM sys_warehouse
		WHERE warehouse_code = #{warehouseCode}
		AND isdeleted = 0
		<if test="excludeId != null">
			AND id != #{excludeId}
		</if>
	</select>

	<select id="selectDistinctCompany" resultType="String">
		SELECT DISTINCT company
		FROM sys_warehouse
		WHERE isdeleted = 0
		AND company IS NOT NULL
		AND company != ''
		ORDER BY company
	</select>

</mapper>
