<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abtk.product.dao.mapper.WmsLocationMapper">

    <resultMap type="com.abtk.product.dao.entity.WmsLocation" id="WmsLocationMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="locationGrade" column="location_grade" jdbcType="VARCHAR"/>
        <result property="locationType" column="location_type" jdbcType="VARCHAR"/>
        <result property="locationLevel" column="location_level" jdbcType="TINYINT"/>
        <result property="locationLevelCount" column="location_level_count" jdbcType="TINYINT"/>
        <result property="internalSerialNo" column="internal_serial_no" jdbcType="SMALLINT"/>
        <result property="internalQuantity" column="internal_quantity" jdbcType="SMALLINT"/>
        <result property="locationNo" column="location_no" jdbcType="VARCHAR"/>
        <result property="locationName" column="location_name" jdbcType="VARCHAR"/>
        <result property="warehouseCode" column="warehouse_code" jdbcType="VARCHAR"/>
        <result property="parentName" column="parent_name" jdbcType="VARCHAR"/>
        <result property="storageMode" column="storage_mode" jdbcType="VARCHAR"/>
        <result property="specification" column="specification" jdbcType="VARCHAR"/>
        <result property="isUse" column="is_use" jdbcType="TINYINT"/>
        <result property="locationSortNo" column="location_sort_no" jdbcType="VARCHAR"/>
        <result property="locationFullpathName" column="location_fullpath_name" jdbcType="VARCHAR"/>
        <result property="capacityTotal" column="capacity_total" jdbcType="INTEGER"/>
        <result property="capacityUsed" column="capacity_used" jdbcType="INTEGER"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
        <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, parent_id, location_grade, location_type, location_level, location_level_count,
        internal_serial_no, internal_quantity, location_no, location_name, warehouse_code,
        parent_name, storage_mode, specification, is_use, location_sort_no, location_fullpath_name,
        capacity_total, capacity_used, is_deleted, remarks, create_by, create_time, update_by, update_time
    </sql>

    <!-- 查询单个 -->
    <select id="queryById" resultMap="WmsLocationMap">
        select
        <include refid="Base_Column_List"/>
        from inv_location
        where id = #{id} and is_deleted = 0
    </select>

    <!-- 查询指定行数据 -->
    <select id="queryAll" resultMap="WmsLocationMap">
        select
        <include refid="Base_Column_List"/>
        from inv_location
        <where>
            is_deleted = 0
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="locationGrade != null and locationGrade != ''">
                and location_grade = #{locationGrade}
            </if>
            <if test="locationType != null and locationType != ''">
                and location_type = #{locationType}
            </if>
            <if test="locationLevel != null">
                and location_level = #{locationLevel}
            </if>
            <if test="locationNo != null and locationNo != ''">
                and location_no like concat('%', #{locationNo}, '%')
            </if>
            <if test="locationName != null and locationName != ''">
                and location_name like concat('%', #{locationName}, '%')
            </if>
            <if test="warehouseCode != null and warehouseCode != ''">
                and warehouse_code = #{warehouseCode}
            </if>
            <if test="storageMode != null and storageMode != ''">
                and storage_mode = #{storageMode}
            </if>
            <if test="specification != null and specification != ''">
                and specification = #{specification}
            </if>
            <if test="isUse != null">
                and is_use = #{isUse}
            </if>
            <if test="locationSortNo != null and locationSortNo != ''">
                and location_sort_no = #{locationSortNo}
            </if>
            <if test="locationFullpathName != null and locationFullpathName != ''">
                and location_fullpath_name like concat('%', #{locationFullpathName}, '%')
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
        </where>
        order by location_sort_no asc
    </select>

    <!-- 通过父ID查询子节点 -->
    <select id="queryByParentId" resultMap="WmsLocationMap">
        select
        <include refid="Base_Column_List"/>
        from inv_location
        where parent_id = #{parentId} and is_deleted = 0
        order by internal_serial_no asc, location_sort_no asc
    </select>

    <!-- 查询所有根节点 -->
    <select id="queryRootNodes" resultMap="WmsLocationMap">
        select
        <include refid="Base_Column_List"/>
        from inv_location
        where parent_id is null and is_deleted = 0
        order by location_sort_no asc
    </select>

    <!-- 通过仓库编码查询 -->
    <select id="queryByWarehouseCode" resultMap="WmsLocationMap">
        select
        <include refid="Base_Column_List"/>
        from inv_location
        where warehouse_code = #{warehouseCode} and is_deleted = 0
        order by location_sort_no asc
    </select>

    <!-- 递归查询所有子节点 - 修复：使用 WITH RECURSIVE 替代 queryChildrenIds 函数 -->
    <select id="queryAllChildren" resultMap="WmsLocationMap">
        WITH RECURSIVE location_tree AS (
            SELECT id FROM inv_location WHERE id = #{parentId} AND is_deleted = 0
            UNION ALL
            SELECT l.id FROM inv_location l
            INNER JOIN location_tree lt ON l.parent_id = lt.id
            WHERE l.is_deleted = 0
        )
        SELECT
        <include refid="Base_Column_List"/>
        FROM inv_location
        WHERE id IN (SELECT id FROM location_tree)
          AND is_deleted = 0
        ORDER BY location_sort_no ASC
    </select>

    <!-- 递归查询子节点（限制层级）- 修复：使用 WITH RECURSIVE 替代 queryChildrenIds 函数 -->
    <select id="queryChildrenByLevel" resultMap="WmsLocationMap">
        WITH RECURSIVE location_tree AS (
            SELECT id, location_level FROM inv_location WHERE id = #{parentId} AND is_deleted = 0
            UNION ALL
            SELECT l.id, l.location_level FROM inv_location l
            INNER JOIN location_tree lt ON l.parent_id = lt.id
            WHERE l.is_deleted = 0
        )
        SELECT
        <include refid="Base_Column_List"/>
        FROM inv_location
        WHERE id IN (SELECT id FROM location_tree)
          AND location_level &lt;= #{maxLevel}
          AND is_deleted = 0
        ORDER BY location_sort_no ASC
    </select>

    <!-- 统计总行数 -->
    <select id="count" resultType="java.lang.Long">
        select count(1) from inv_location
        <where>
            is_deleted = 0
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="locationGrade != null and locationGrade != ''">
                and location_grade = #{locationGrade}
            </if>
            <if test="locationType != null and locationType != ''">
                and location_type = #{locationType}
            </if>
            <if test="locationLevel != null">
                and location_level = #{locationLevel}
            </if>
            <if test="warehouseCode != null and warehouseCode != ''">
                and warehouse_code = #{warehouseCode}
            </if>
            <if test="storageMode != null and storageMode != ''">
                and storage_mode = #{storageMode}
            </if>
            <if test="isUse != null">
                and is_use = #{isUse}
            </if>
        </where>
    </select>

    <!-- 新增 -->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into inv_location(
            parent_id, location_grade, location_type, location_level, location_level_count,
            internal_serial_no, internal_quantity, location_no, location_name, warehouse_code,
            parent_name, storage_mode, specification, is_use, location_sort_no, location_fullpath_name,
            capacity_total, capacity_used, is_deleted, remarks, create_by, create_time, update_by, update_time
        ) values (
            #{parentId}, #{locationGrade}, #{locationType}, #{locationLevel}, #{locationLevelCount},
            #{internalSerialNo}, #{internalQuantity}, #{locationNo}, #{locationName}, #{warehouseCode},
            #{parentName}, #{storageMode}, #{specification},
            <choose>
                <when test="isUse != null">#{isUse}</when>
                <otherwise>0</otherwise>
            </choose>,
            #{locationSortNo}, #{locationFullpathName},
            #{capacityTotal}, #{capacityUsed},
            0, #{remarks}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime}
        )
    </insert>

    <!-- 批量新增 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into inv_location(
            parent_id, location_grade, location_type, location_level, location_level_count,
            internal_serial_no, internal_quantity, location_no, location_name, warehouse_code,
            parent_name, storage_mode, specification, is_use, location_sort_no, location_fullpath_name,
            capacity_total, capacity_used, is_deleted, remarks, create_by, create_time, update_by, update_time
        ) values
        <foreach collection="entities" item="entity" separator=",">
            (
                #{entity.parentId}, #{entity.locationGrade}, #{entity.locationType}, #{entity.locationLevel}, #{entity.locationLevelCount},
                #{entity.internalSerialNo}, #{entity.internalQuantity}, #{entity.locationNo}, #{entity.locationName}, #{entity.warehouseCode},
                #{entity.parentName}, #{entity.storageMode}, #{entity.specification},
                <choose>
                    <when test="entity.isUse != null">#{entity.isUse}</when>
                    <otherwise>0</otherwise>
                </choose>,
                #{entity.locationSortNo}, #{entity.locationFullpathName},
                #{entity.capacityTotal}, #{entity.capacityUsed},
                0, #{entity.remarks}, #{entity.createBy}, #{entity.createTime}, #{entity.updateBy}, #{entity.updateTime}
            )
        </foreach>
    </insert>

    <!-- 批量新增或更新 -->
    <insert id="insertOrUpdateBatch">
        insert into inv_location(
            id, parent_id, location_grade, location_type, location_level, location_level_count,
            internal_serial_no, internal_quantity, location_no, location_name, warehouse_code,
            parent_name, storage_mode, specification, is_use, location_sort_no, location_fullpath_name,
            capacity_total, capacity_used, is_deleted, remarks, create_by, create_time, update_by, update_time
        ) values
        <foreach collection="entities" item="entity" separator=",">
            (
                #{entity.id}, #{entity.parentId}, #{entity.locationGrade}, #{entity.locationType}, #{entity.locationLevel}, #{entity.locationLevelCount},
                #{entity.internalSerialNo}, #{entity.internalQuantity}, #{entity.locationNo}, #{entity.locationName}, #{entity.warehouseCode},
                #{entity.parentName}, #{entity.storageMode}, #{entity.specification},
                <choose>
                    <when test="entity.isUse != null">#{entity.isUse}</when>
                    <otherwise>0</otherwise>
                </choose>,
                #{entity.locationSortNo}, #{entity.locationFullpathName},
                #{entity.capacityTotal}, #{entity.capacityUsed},
                0, #{entity.remarks}, #{entity.createBy}, #{entity.createTime}, #{entity.updateBy}, #{entity.updateTime}
            )
        </foreach>
        on duplicate key update
            parent_id = values(parent_id),
            location_grade = values(location_grade),
            location_type = values(location_type),
            location_level = values(location_level),
            location_level_count = values(location_level_count),
            internal_serial_no = values(internal_serial_no),
            internal_quantity = values(internal_quantity),
            location_no = values(location_no),
            location_name = values(location_name),
            warehouse_code = values(warehouse_code),
            parent_name = values(parent_name),
            storage_mode = values(storage_mode),
            specification = values(specification),
            is_use = values(is_use),
            location_sort_no = values(location_sort_no),
            location_fullpath_name = values(location_fullpath_name),
            capacity_total = values(capacity_total),
            capacity_used = values(capacity_used),
            update_by = values(update_by),
            update_time = values(update_time)
    </insert>

    <!-- 修改 -->
    <update id="update">
        update inv_location
        <set>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="locationGrade != null and locationGrade != ''">
                location_grade = #{locationGrade},
            </if>
            <if test="locationType != null and locationType != ''">
                location_type = #{locationType},
            </if>
            <if test="locationLevel != null">
                location_level = #{locationLevel},
            </if>
            <if test="locationLevelCount != null">
                location_level_count = #{locationLevelCount},
            </if>
            <if test="internalSerialNo != null">
                internal_serial_no = #{internalSerialNo},
            </if>
            <if test="internalQuantity != null">
                internal_quantity = #{internalQuantity},
            </if>
            <if test="locationNo != null and locationNo != ''">
                location_no = #{locationNo},
            </if>
            <if test="locationName != null and locationName != ''">
                location_name = #{locationName},
            </if>
            <if test="warehouseCode != null and warehouseCode != ''">
                warehouse_code = #{warehouseCode},
            </if>
            <if test="parentName != null">
                parent_name = #{parentName},
            </if>
            <if test="storageMode != null">
                storage_mode = #{storageMode},
            </if>
            <if test="specification != null">
                specification = #{specification},
            </if>
            <if test="isUse != null">
                is_use = #{isUse},
            </if>
            <if test="locationSortNo != null and locationSortNo != ''">
                location_sort_no = #{locationSortNo},
            </if>
            <if test="locationFullpathName != null and locationFullpathName != ''">
                location_fullpath_name = #{locationFullpathName},
            </if>
            <if test="capacityTotal != null">
                capacity_total = #{capacityTotal},
            </if>
            <if test="capacityUsed != null">
                capacity_used = #{capacityUsed},
            </if>
            <if test="remarks != null">
                remarks = #{remarks},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            update_time = now()
        </set>
        where id = #{id}
    </update>

    <!-- 批量更新 - 使用 case when 语法，兼容所有数据库 -->
    <update id="updateBatch">
        update inv_location
        <set>
            parent_id = case id
                <foreach collection="list" item="item">
                    when #{item.id} then #{item.parentId}
                </foreach>
                else parent_id
            end,
            location_grade = case id
                <foreach collection="list" item="item">
                    when #{item.id} then #{item.locationGrade}
                </foreach>
                else location_grade
            end,
            location_type = case id
                <foreach collection="list" item="item">
                    when #{item.id} then #{item.locationType}
                </foreach>
                else location_type
            end,
            location_level = case id
                <foreach collection="list" item="item">
                    when #{item.id} then #{item.locationLevel}
                </foreach>
                else location_level
            end,
            location_name = case id
                <foreach collection="list" item="item">
                    when #{item.id} then #{item.locationName}
                </foreach>
                else location_name
            end,
            location_no = case id
                <foreach collection="list" item="item">
                    when #{item.id} then #{item.locationNo}
                </foreach>
                else location_no
            end,
            warehouse_code = case id
                <foreach collection="list" item="item">
                    when #{item.id} then #{item.warehouseCode}
                </foreach>
                else warehouse_code
            end,
            parent_name = case id
                <foreach collection="list" item="item">
                    when #{item.id} then #{item.parentName}
                </foreach>
                else parent_name
            end,
            storage_mode = case id
                <foreach collection="list" item="item">
                    when #{item.id} then #{item.storageMode}
                </foreach>
                else storage_mode
            end,
            specification = case id
                <foreach collection="list" item="item">
                    when #{item.id} then #{item.specification}
                </foreach>
                else specification
            end,
            is_use = case id
                <foreach collection="list" item="item">
                    when #{item.id} then #{item.isUse}
                </foreach>
                else is_use
            end,
            location_sort_no = case id
                <foreach collection="list" item="item">
                    when #{item.id} then #{item.locationSortNo}
                </foreach>
                else location_sort_no
            end,
            location_fullpath_name = case id
                <foreach collection="list" item="item">
                    when #{item.id} then #{item.locationFullpathName}
                </foreach>
                else location_fullpath_name
            end,
            capacity_total = case id
                <foreach collection="list" item="item">
                    when #{item.id} then #{item.capacityTotal}
                </foreach>
                else capacity_total
            end,
            capacity_used = case id
                <foreach collection="list" item="item">
                    when #{item.id} then #{item.capacityUsed}
                </foreach>
                else capacity_used
            end,
            remarks = case id
                <foreach collection="list" item="item">
                    when #{item.id} then #{item.remarks}
                </foreach>
                else remarks
            end,
            update_by = case id
                <foreach collection="list" item="item">
                    when #{item.id} then #{item.updateBy}
                </foreach>
                else update_by
            end,
            update_time = now()
        </set>
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>

    <!-- 逻辑删除 -->
    <update id="deleteById">
        update inv_location
        set is_deleted = 1,
            update_by = #{username},
            update_time = now(),
            remarks = concat(ifnull(remarks, ''), ' | ', #{username}, '删除', now())
        where id = #{id}
    </update>

    <!-- 批量逻辑删除 -->
    <update id="deleteBatchByIds">
        update inv_location
        set is_deleted = 1,
            update_by = #{username},
            update_time = now(),
            remarks = concat(ifnull(remarks, ''), ' | ', #{username}, '删除', now())
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <!-- 递归逻辑删除 - 修复：使用 WITH RECURSIVE 替代 queryChildrenIds 函数 -->
    <update id="deleteRecursive">
        WITH RECURSIVE location_tree AS (
            SELECT id FROM inv_location WHERE id = #{id} AND is_deleted = 0
            UNION ALL
            SELECT l.id FROM inv_location l
            INNER JOIN location_tree lt ON l.parent_id = lt.id
            WHERE l.is_deleted = 0
        )
        UPDATE inv_location
        SET is_deleted = 1,
            update_by = #{username},
            update_time = now(),
            remarks = concat(ifnull(remarks, ''), ' | ', #{username}, '删除', now())
        WHERE id IN (SELECT id FROM location_tree)
    </update>

    <!-- 查询所有库位（不分页） -->
    <select id="listAll" resultMap="WmsLocationMap">
        select
        <include refid="Base_Column_List"/>
        from inv_location
        where is_deleted = 0
        order by location_sort_no asc
    </select>

    <!-- 切换库位使用状态 -->
    <update id="toggleStatus">
        update inv_location
        set is_use = #{isUse},
            update_time = now()
        where id = #{id} and is_deleted = 0
    </update>

    <!-- 根据ID列表批量查询 -->
    <select id="queryByIds" resultMap="WmsLocationMap">
        select
        <include refid="Base_Column_List"/>
        from inv_location
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        and is_deleted = 0
        order by location_sort_no asc
    </select>

    <!-- 批量更新仓库编码 -->
    <update id="batchUpdateWarehouseCode">
        update inv_location
        set warehouse_code = #{warehouseCode},
            update_by = #{updateBy},
            update_time = now()
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        and is_deleted = 0
    </update>

    <!-- 🔴 新增：更新父节点的 internal_quantity（累加） -->
    <update id="updateInternalQuantity">
        UPDATE inv_location
        SET internal_quantity = internal_quantity + #{delta},
            update_time = now()
        WHERE id = #{parentId}
          AND is_deleted = 0
    </update>

    <!-- 根据全路径名称查询库位 -->
    <select id="queryByFullpathName" resultMap="WmsLocationMap">
        select
        <include refid="Base_Column_List"/>
        from inv_location
        where warehouse_code = #{warehouseCode}
          and location_fullpath_name = #{locationFullpathName}
          and is_deleted = 0
        limit 1
    </select>

    <!-- 查询仓库下同名库位数量 -->
    <select id="countByNameAndWarehouse" resultType="java.lang.Integer">
        select count(*) from inv_location
        where warehouse_code = #{warehouseCode}
          and location_name = #{locationName}
          and is_deleted = 0
          <if test="parentId != null">
              and parent_id = #{parentId}
          </if>
          <if test="parentId == null">
              and parent_id is null
          </if>
          <if test="excludeId != null">
              and id != #{excludeId}
          </if>
    </select>

    <!-- 🔴 新增：通过排序号前缀查询占用数量（优化删除校验） -->
    <select id="countUsedBySortNoPrefix" resultType="java.lang.Integer">
        select count(*) from inv_location
        where location_sort_no like concat(#{locationSortNoPrefix}, '%')
          and is_use = 1
          and is_deleted = 0
    </select>

    <!-- 统计子节点数量 -->
    <select id="countChildren" resultType="java.lang.Integer">
        select count(*) from inv_location
        where parent_id = #{parentId} and is_deleted = 0
    </select>

    <!-- 统计已占用的子节点数量 -->
    <select id="countUsedChildren" resultType="java.lang.Integer">
        select count(*) from inv_location
        where parent_id = #{parentId} and is_use = 1 and is_deleted = 0
    </select>

</mapper>
