<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abtk.product.dao.mapper.user.WmsUserMapper">

    <resultMap type="com.abtk.product.dao.entity.WmsUser" id="WmsUserMap">
        <result property="userId" column="id" jdbcType="BIGINT"/>
        <result property="userName" column="login_name" jdbcType="VARCHAR"/>
        <result property="nickName" column="code" jdbcType="VARCHAR"/>
        <result property="jobTitle" column="job_title" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phonenumber" column="phonenumber" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="entryDate" column="entry_date" jdbcType="DATE"/>
        <result property="leaveDate" column="leave_date" jdbcType="DATE"/>
        <result property="delFlag" column="is_deleted" jdbcType="VARCHAR"/>
        <result property="loginIp" column="login_ip" jdbcType="VARCHAR"/>
        <result property="loginDate" column="login_date" jdbcType="TIMESTAMP"/>
        <result property="pwdUpdateDate" column="pwd_update_date" jdbcType="TIMESTAMP"/>
        <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 鍩虹鍒?-->
    <sql id="Base_Column_List">
        id, login_name, code, job_title, email, phonenumber, avatar,
        status, entry_date, leave_date, is_deleted, login_ip, login_date, pwd_update_date,
        remarks, create_by, create_time, update_by, update_time
    </sql>

    <!-- 鏌ヨ鍗曚釜 -->
    <select id="queryById" resultMap="WmsUserMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where id = #{userId} and is_deleted = '0'
    </select>

    <!-- 鏌ヨ鎸囧畾琛屾暟鎹?-->
    <select id="queryAll" resultMap="WmsUserMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        <where>
            is_deleted = '0'
            <if test="userId != null">
                and id = #{userId}
            </if>
            <if test="userName != null and userName != ''">
                and login_name like concat('%', #{userName}, '%')
            </if>
            <if test="nickName != null and nickName != ''">
                and code like concat('%', #{nickName}, '%')
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="phonenumber != null and phonenumber != ''">
                and phonenumber like concat('%', #{phonenumber}, '%')
            </if>
        </where>
        order by id asc
    </select>

    <!-- 缁熻鎬昏鏁?-->
    <select id="count" resultType="java.lang.Long">
        select count(1) from sys_user
        <where>
            is_deleted = '0'
            <if test="userId != null">
                and id = #{userId}
            </if>
            <if test="userName != null and userName != ''">
                and login_name like concat('%', #{userName}, '%')
            </if>
            <if test="nickName != null and nickName != ''">
                and code like concat('%', #{nickName}, '%')
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="phonenumber != null and phonenumber != ''">
                and phonenumber like concat('%', #{phonenumber}, '%')
            </if>
        </where>
    </select>

    <!-- 鏂板 -->
    <insert id="insert" keyProperty="userId" useGeneratedKeys="true">
        insert into sys_user(
            login_name, code, job_title, email, phonenumber,
            password, status, entry_date, leave_date, is_deleted, remarks,
            create_by, create_time, update_by, update_time
        ) values (
            #{userName}, #{nickName},
            <choose>
                <when test="jobTitle != null and jobTitle != ''">#{jobTitle}</when>
                <otherwise>null</otherwise>
            </choose>,
            <choose>
                <when test="email != null and email != ''">#{email}</when>
                <otherwise>null</otherwise>
            </choose>,
            <choose>
                <when test="phonenumber != null and phonenumber != ''">#{phonenumber}</when>
                <otherwise>null</otherwise>
            </choose>,
            <choose>
                <when test="password != null and password != ''">#{password}</when>
                <otherwise>null</otherwise>
            </choose>,
            <choose>
                <when test="status != null and status != ''">#{status}</when>
                <otherwise>'0'</otherwise>
            </choose>,
            <choose>
                <when test="entryDate != null">#{entryDate}</when>
                <otherwise>null</otherwise>
            </choose>,
            <choose>
                <when test="leaveDate != null">#{leaveDate}</when>
                <otherwise>null</otherwise>
            </choose>,
            '0',
            <choose>
                <when test="remarks != null and remarks != ''">#{remarks}</when>
                <otherwise>null</otherwise>
            </choose>,
            #{createBy}, #{createTime}, #{updateBy}, #{updateTime}
        )
    </insert>

    <!-- 淇敼 -->
    <update id="update">
        update sys_user
        <set>
            <if test="nickName != null and nickName != ''">
                code = #{nickName},
            </if>
            <if test="jobTitle != null and jobTitle != ''">
                job_title = #{jobTitle},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="phonenumber != null">
                phonenumber = #{phonenumber},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="entryDate != null">
                entry_date = #{entryDate},
            </if>
            <if test="leaveDate != null">
                leave_date = #{leaveDate},
            </if>
            <if test="remarks != null">
                remarks = #{remarks},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            update_time = now()
        </set>
        where id = #{userId}
    </update>

    <!-- 閫昏緫鍒犻櫎 -->
    <update id="deleteById">
        update sys_user
        set is_deleted = '2',
            update_by = #{username},
            update_time = now()
        where id = #{userId}
    </update>

    <!-- 鍒囨崲鐘舵€?-->
    <update id="toggleStatus">
        update sys_user
        set status = #{status},
            update_time = now()
        where id = #{userId} and is_deleted = '0'
    </update>

    <!-- 鏌ヨ鎵€鏈夛紙涓嶅垎椤碉級 -->
    <select id="listAll" resultMap="WmsUserMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where is_deleted = '0'
        order by id asc
    </select>

    <!-- 鏍￠獙鐢ㄦ埛鍚嶅敮涓€鎬?-->
    <select id="checkUserNameUnique" resultMap="WmsUserMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where login_name = #{userName} and is_deleted = '0'
        limit 1
    </select>

</mapper>

